.h1 {
    right: 50%;
    padding-left: 40%;

}

.p1 {

    right: 50%;
    padding-left: 25%;
}

.inputbox {
    height: 90px;
    width: 50%;
    max-width: 50%;
    
    
}

.timetable {
    right: 50%;
    padding-left: 20%;

}